<ion-header>
  <ion-toolbar>
    <div class="titleicon">
      <img src="https://www.uniboyaca.edu.co/sites/default/files/2022-09/Logo-UdB-Mixto-con-Acreditacio%CC%81n-Alta-Calidad.png" width="150px" />
      <ion-title class="titleicon" style="display:inline-block" ></ion-title>
    </div>

    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-segment value="all">
      <ion-segment-button value="all">
        Deportes
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Estado
      </ion-segment-button>
    </ion-segment>

  <!--Tarjeta de terminados-->
  <div class="center">

    <ion-card>
      
      <ion-card-header>
        <ion-card-title>Finalizados</ion-card-title>
        <ion-card-subtitle>Torneos finalizados hasta el 27</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>
              <ion-button> Futbol</ion-button>
            </ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>
              <ion-button> Baloncesto </ion-button>
            </ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>
              <ion-button> Ajedrez</ion-button>
            </ion-label>
          </ion-item>

        </ion-list>
      </ion-card-content>

    </ion-card>
  </div>

  <!--Tarjeta de en progreso-->
  <div class="center">

    <ion-card>
      
      <ion-card-header>
        <ion-card-title>En progreso</ion-card-title>
        <ion-card-subtitle>Torneos actuales</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>
              <ion-button> Futbol</ion-button>
            </ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>
              <ion-button> Baloncesto </ion-button>
            </ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>
              <ion-button> Ajedrez</ion-button>
            </ion-label>
          </ion-item>

        </ion-list>
      </ion-card-content>

    </ion-card>
  </div>

  <!--Tarjeta de en progreso-->
  <div class="center">

    <ion-card>
      
      <ion-card-header>
        <ion-card-title>Proximamente</ion-card-title>
        <ion-card-subtitle>Torneos futuros</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>
              <ion-button> Futbol</ion-button>
            </ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>
              <ion-button> Baloncesto </ion-button>
            </ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
            </ion-thumbnail>
            <ion-label>
              <ion-button> Ajedrez</ion-button>
            </ion-label>
          </ion-item>

        </ion-list>
      </ion-card-content>

    </ion-card>
  </div>

</ion-content>
