<ion-header>
  <ion-toolbar>
    <div class="titleicon" style="display: flex; justify-content: center;">
      <img src="https://www.uniboyaca.edu.co/sites/default/files/2022-09/Logo-UdB-Mixto-con-Acreditacio%CC%81n-Alta-Calidad.png" width="150px">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Mensaje de bienvenida-->
    <div class="center">
      <h2>Bienvenido</h2><br>
      <h5>Por favor, elija una opción</h5><br>
    
      <!--Ionic tiene iconos por defecto en la pagina, name representa el icono-->
      <!--Boton que dirige a la pagina de cursos-->
      <ion-button type="submit" shape="round" size="default" [routerLink]="['/torneos']">
        <ion-icon slot="start" name="american-football"></ion-icon> 
        Torneos
      </ion-button><br>

      <!-- Boton que dirige a la pagina de estudiantes-->
      <ion-button type="submit" shape="round" size="default" [routerLink]="['/encuentros']">
        <ion-icon slot="start" name="people"></ion-icon>
        Encuentros
      </ion-button>
    </div>
</ion-content>