
  <ion-header>
    <ion-toolbar>
      <div class="titleicon">
        <img src="https://www.uniboyaca.edu.co/sites/default/files/2022-09/Logo-UdB-Mixto-con-Acreditacio%CC%81n-Alta-Calidad.png" width="150px" />
        <ion-title class="titleicon" style="display:inline-block" ></ion-title>
      </div>
    </ion-toolbar>
  </ion-header>


<ion-content>
    <!-- Mensaje de bienvenida-->
    <div class="center">
      <h2>Bienvenido</h2><br>
      <h5>Por favor, elija una opción</h5><br>
    
      <!--Ionic tiene iconos por defecto en la pagina, name representa el icono-->
      <!--Boton que dirige a la pagina de cursos-->
      <ion-button type="submit" shape="round" size="default">
        <ion-icon name="american-football"  class="mx-2"></ion-icon> 
          Torneos
      </ion-button><br><br>

      <!-- Boton que dirige a la pagina de estudiantes-->
      <ion-button type="submit" shape="round" size="default">
        <ion-icon name="people" class="mx-2"></ion-icon>
        Encuentros
      </ion-button>
    </div>
</ion-content>