<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-left: 8px;">
      <ion-back-button text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <div class="titleicon" style="display: flex; justify-content: center;">
      <img src="https://www.uniboyaca.edu.co/sites/default/files/2022-09/Logo-UdB-Mixto-con-Acreditacio%CC%81n-Alta-Calidad.png" width="150px">
    </div>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Navegación</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item [routerLink]="['/inicio']">
        <ion-icon slot="start" name="home"></ion-icon>
        Inicio
      </ion-item>
      <ion-item [routerLink]="['/torneos']">
        <ion-icon slot="start" name="american-football"></ion-icon>
        Torneos
      </ion-item>
      <ion-item [routerLink]="['/encuentros']">
        <ion-icon slot="start" name="people"></ion-icon>
        Encuentros
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content"></div>

<ion-content>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Nombre del Torneo</ion-card-title>
      <ion-card-subtitle>Deporte</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <table style="display: flex; justify-content: space-evenly;">
        <tr>
          <th>
            <ion-button style="margin-right: 20px; width: 200px;">
              <ion-icon slot="start" name="notifications"></ion-icon>
              Notificar
            </ion-button>
          </th>
          <th>
            <ion-label>
              <p>12 de Agosto</p>
              <p>28 de Agosto</p>
            </ion-label>
          </th>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>

  <ion-item-divider>
    <ion-label>
      <p>24 de Agosto</p>
    </ion-label>
  </ion-item-divider>

  <ion-card [routerLink]="['/encuentros-detail']">
    <ion-card-content>
      <table style="display: flex; justify-content: space-evenly;">
        <tr>
          <th>
            <ion-button>Equipo 1</ion-button>
          </th>
          <th>
            <ion-label>
              <h1>2 - 1</h1>
              <p>TORNEO</p>
            </ion-label>
          </th>
          <th>
            <ion-button>Equipo 2</ion-button>
          </th>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <table style="display: flex; justify-content: space-evenly;">
        <tr>
          <th>
            <ion-button>Equipo 1</ion-button>
          </th>
          <th>
            <ion-label>
              <h1>2 - 5</h1>
              <p>TORNEO</p>
            </ion-label>
          </th>
          <th>
            <ion-button>Equipo 2</ion-button>
          </th>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>

  <ion-item-divider>
    <ion-label>
      <p>Hoy</p>
    </ion-label>
  </ion-item-divider>

  <ion-card>
    <ion-card-content>
      <table style="display: flex; justify-content: space-evenly;">
        <tr>
          <th>
            <ion-label>
              <h1>16:00</h1>
              <p>Futbol</p>
            </ion-label>
          </th>
          <th>
            <ion-button>Equipo 1</ion-button>
          </th>
          <th>
            <ion-label>
              <h2>VS</h2>
              <p>TORNEO</p>
            </ion-label>
          </th>
          <th>
            <ion-button>Equipo 2</ion-button>
          </th>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>

  <ion-item-divider>
    <ion-label>
      <p>26 de Agosto</p>
    </ion-label>
  </ion-item-divider>

  <ion-card>
    <ion-card-content>
      <table style="display: flex; justify-content: space-evenly;">
        <tr>
          <th>
            <ion-label>
              <h1>18:00</h1>
              <p>TBD</p>
            </ion-label>
          </th>
          <th>
            <ion-button>Equipo 1</ion-button>
          </th>
          <th>
            <ion-label>
              <h2>VS</h2>
              <p>TORNEO</p>
            </ion-label>
          </th>
          <th>
            <ion-button>Equipo 2</ion-button>
          </th>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>
